[Unit]
Description=Run n8382a-tracker-fetch.service every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
